---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Header />

  <main class="max-w-4xl mx-auto flex-grow">
    <Section title="Our Mission" content="We build humanity’s climate resilience through technological solutions that passively create sub-ambient thermal conditions in the face of rising global temperatures." />
    <Section title="What We Do" content="Our team uses thermodynamic and material science technologies to develop passive cooling solutions for multiple industries." />
    <Section title="Who We Are" content="Sub-ambient is a deep tech start-up spun out of a venture studio based in APAC." />
    <Section title="Connect With Us" content="Our current industrial focuses are construction, maritime, agriculture, and automotive industries, and we’re looking for potential opportunities, collaborators, and partners in those industries. Our team is looking to grow. If you’re keen on working with us, reach out! You can reach us at hello@sub-ambient.net." />
  </main>

  <footer class="text-center py-4 bg-blue-950 text-white">
    <p class="m-0">© 2024 Sub-Ambient. All rights reserved.</p>
  </footer>
</Layout>
