
<header class="relative text-center py-32 bg-cover bg-center" style="background-image: url('assets/images/header-bg-small.jpg');">
  <div class="absolute inset-0" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, #0A3976 98%);"></div>
  <h1 class="relative z-10 font-raleway text-5xl m-0">Sub-Ambient</h1>
  <p class="relative z-10 font-lato text-2xl mt-2 opacity-80">Building our resilience to global warming</p>
</header>
