<header
  class="relative text-center py-24 bg-cover bg-center"
  
>
  <!-- <div
    class="absolute inset-0"
    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, #0A3976 98%);"
  >
  </div> -->
  <!-- <h1 class="relative z-10 font-raleway text-5xl m-0">Sub-Ambient</h1> -->
  <img
    src="./assets/images/logo1_white.png"
    alt="Sub-Ambient Logo"
    class="relative z-10 mx-auto h-32 md:h-48 lg:h-64 object-contain -mb-6"
  />
  <p class="relative z-10 font-raleway text-xl -mt-12">
    Building our resilience to global warming
  </p>
</header>

<!-- style="background-image: url('./assets/images/header-bg-small.jpg');" -->