---
const { title, content } = Astro.props;
---

<section class="flex items-center justify-between py-6 border-b border-gray">
  <div class="w-1/4 mr-4">
    <h2 class="font-raleway text-3xl font-bold mb-2 opacity-98">{title}</h2>
  </div>
  <div class="w-3/4">
    <p class="text-justify m-0 font-light opacity-98">{content}</p>
  </div>
</section>
